<div class="container">
    
        <img src="oops.png" alt="" width="500px" height="500px">

    
    <div class="row">
        <h1>Hubo un error en tu consulta</h1>
        <h2>{{error}}</h2>
    </div>
</div>