{{> navbar}}

<div class="bg-light p-5 rounded-lg m-3">
  <h1 class="display-4">Bienvenido</h1>
  <p class="lead">Mediante los botones inferiores puede ver o cargar un producto</p>
  <hr class="my-4">  
  <a class="btn btn-primary btn-lg" href="/productos" role="button" >Ver productos</a>  
</div>
